/*esto es el bloque final*/
.contieneinfo{
	background: $background-color-grey;
	text-align: center;
}

.column {
	float: left;
	width: 33%;
}
  
.final:after {
	display: table;
	clear: both;
  }

.contieneinfo__texto{
color: $color-azul;
text-transform: none;
text-decoration: none;
line-height: 15px;
padding: 0px;
} 

.contieneinfo__texto--inline{
@extend .contieneinfo__texto;
text-decoration: none;
line-height: 30px;
	} 

.contieneinfo__texto--titulo{
@extend .contieneinfo__texto;
	font-size: 1.2em;
	text-decoration: none;
	font-weight: bold;
	line-height: 25px;
} 

.icono{
	width: 30px;
	height: 30px;
	margin: 5px;
} 

@media screen and (min-width:480px) and (max-width:780px)
{
	.icono{
		width: 15px;
		height: 15px;
		margin: 5px;
	} 
}
@media screen and (max-width: 480px)
{
	.icono{
		width: 10px;
		height: 10px;
		margin: 2px;
	} 
	.contieneinfo{
        width: auto;
		height: 10%;
    }

	.column {
		width: 100%;
		height: 10%;
	}
	.contieneinfo__texto{
		font-size: 0.8em;
		line-height: 7px;
		} 
		
		.contieneinfo__texto--inline{
		line-height: 10px;
			} 
		
		.contieneinfo__texto--titulo{
			font-size: 1em;
			line-height: 12px;
		} 
}
