$letter-size: 1em;
$title-size: 2.2em;
$subtitle-size: 1.3em;

/*caracteristicas generales*/
*{
	margin:0;
	padding: 0;
}

body{
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight: 400;
	color: $color-azul;
	background-color:$color-gris;
}

