/*variables*/
@import "colores";
@import "general";
@import "header";
@import "bloquefinal";
@import "footer";

@mixin fontStyle($font-size) {
	color: $color-azul;
	text-align: center;
	margin: 15px;
	font-size: $font-size;
}

/*para definir los titulos de todas las paginas*/
h1{ 	
	text-transform: uppercase;
	letter-spacing: 0.2em;
	padding: 10px;
	animation-name:subtitulo;
	animation-duration: 2s;
	@include fontStyle($title-size);
}

/*para que los títulos de las páginas aparezcan con un efecto*/
@keyframes subtitulo{
	0% { opacity: 0; }
	100% { opacity: 1; }
}

/*para definir los subtitulos de todas las paginas*/
h2{ 	
	padding: 10px;
	@include fontStyle($subtitle-size);
} 

.detalleCombo{ 	
	@include fontStyle($letter-size);
} 

/*esto es para los enlaces que quiero que estén en azul y cuando se pasa el mouse en blanco*/
a.deAzulABlanco{
	color: $color-azul !important;
	text-decoration: none;
	text-transform: none;
	line-height: 15px;
	font-size: $letter-size;
}

a.deAzulABlanco:hover{
	color:white !important;
}

/*esto es para el enlace del "index" para reservar el combo*/
a.subrayado{
	@extend a.deAzulABlanco;
	text-decoration: underline;
}

/*esto es para establecer un máximo de ancho al carrusel en el "index"*/
.carrusel{
	width: 85%;
	margin: 10px auto 20px auto;
}

/*esto es lo genérico para las secciones*/
section{
	display: flex;
	margin-top: 10px;
	line-height: 25px;
	justify-content: space-around;
	width:100%;
}

section article{
	flex-wrap: wrap;
	text-align: center;
	padding: 10px;
}


/*esto es lo genérico para el contenido principal en html "nosotros"*/
.contenedor {
	width: 80%;
	margin: 0 auto;
	margin-top: 10px;
	line-height: 25px;

	.recuadroDeNosotros {
		background-image: url(../img/fondonosotros.jpg);
		border-radius: 15px;
		padding: 20px;
		align-items: center; /*para que esté centrado en el medio del recuadro*/
		margin-bottom: 20px; 
		display: flex;
		overflow: auto; 
}
}

.recuadroDeNosotros__img {
	width: 400px;
	height: 250px;
	max-width: 100%;
}

.recuadroDeNosotros__video {
	width: 400px;
	height: 250px;
	max-width: 100%;
	cursor: pointer;
}

.recuadroDeNosotros__parrafo {
	line-height: 40px;
	font-size: $subtitle-size;
	margin: 30px;
	text-align: center;
}

.recuadroDeNosotros__parrafo--titulo {
	@extend.recuadroDeNosotros__parrafo;
	font-size: 1.8em;
}

/*esto es grids para el html de "productos"*/
#grilla{
	display:grid;
	grid-template-areas: 
		"telabatistalisa telapoplinestampada"
		"telabatistaestampada telapoplinelastizadaestampada"
		"descargarcatalogobatista descargarcatalogopoplin"
		"camisas camisas";
	grid-template-columns: repeat(2,1/2fr);
	grid-template-rows: 1/2fr, 1/2fr, 1/6fr, 1/2fr;
	grid-gap: 20px;
	margin: 50px 200px;
	justify-items: center;
	align-items: center;
}

.telabatistalisa{
	grid-area: telabatistalisa;
}

.telabatistaestampada{
	grid-area: telabatistaestampada;
}

.descargarcatalogobatista{
	grid-area: descargarcatalogobatista;
}

.descargarcatalogopoplin{
	grid-area: descargarcatalogopoplin;
}

.telapoplinestampada{
	grid-area: telapoplinestampada;
}

.telapoplinelastizadaestampada{
	grid-area: telapoplinelastizadaestampada;
}

.camisas{
	grid-area: camisas;
}

/*estos ids son para generar enlaces internos dentro del html de "productos"*/
#telasxmayor, #camisasxmayor{ 	
	text-decoration: underline;
	font-weight: bold;
	margin-top: 10px;
} 


/*esta es para las imágenes de "productos"*/
.imagenDeProductos{
	max-width: 100%;
	width: 300px;
	height: 300px;
	padding: 10px;
}


/*define la lista del html de "preguntasfrecuentes"*/
ul.preguntas{ 
	list-style: square;
	margin: 15px 0px 0px 15px;
}

ul li.preguntas{
	font-size: $letter-size;
	line-height: 60px;
}

/*define las caracteristicas de la tabla de bs*/
div table{	
	font-size: $letter-size;
	color:#1e3752;
} 

/*para diferenciar las respuestas en el html de "preguntas frecuentes"*/
.italic{ 	
	font-style: italic;
} 

/*para que las imágenes se achiquen según las pantallas en "preguntas frecuentes"*/
.imagenPaletaDeColores{
	width: 300px;
	height: 300px;
	padding: 10px;
	max-width:100%;
	cursor: pointer;
}

/*el modal de la imagen de las paletas de colores*/
#modalPaleta1, #modalPaleta2, #modalPaleta3, #modalNosotros, .modal-img{
	width: 100%;
	max-width: 100%;
}


/*caracteristicas del html "contacto"*/
.inlineBlockPadre{
	text-align: center;
	width: 100%;
}

.inlineBlockHijo{
	display: inline-block;
	margin: 0px auto;
	padding: 0px 40px;
	width: 50%;
}

.inlineBlockHijo1{
	display: inline-block;
	padding: 0px 40px;
	width: 40%;
}

form{
	padding: 1em;
	border: 1px solid #CCC;
	border-radius: 1em;
	background-color: #f1f1f1;
	text-align: left;
}

iframe{
	border-radius: 1em;
	border: 1px solid #CCC;
	width: 100%;
	height: 300px;
}	

/*usé mapas y each para darle color a los botones*/
$contactos: (
	enviar: $color-azul,
	limpiar: $color-gris
);

@each $contacto, $color in $contactos{ 
.contactos--#{$contacto} {
	background-color: $color;
}
}

.inputForm{
	background-color: $color-gris;
	border-radius: 0.5em;
	border: 1px solid #CCC;
	width: 100%;
}

/*para que al pasar el mouse por el botón, se agrande el ancho del boton*/
.botonEnviar{
	width: 50%;
	transition: width 0s;
	color: $color-gris;
	border-radius: 1em;
	border: 1px solid #CCC;
}

.botonEnviar:hover{
	width: 55%;
}



/*responsive en pantallas de entre 480px a 780px*/
@media screen and (min-width:480px) and (max-width:780px)
{
	#grilla{
		display:grid;
		grid-template-areas: 
			"telabatistalisa"
			"telabatistaestampada"
			"descargarcatalogobatista"
			"telapoplinestampada" 
			"telapoplinelastizadaestampada"
			"descargarcatalogopoplin"
			"camisas";
		grid-template-columns: 1fr;
		grid-template-rows: repeat(7,1/2fr);
		grid-gap:10px;
		justify-items: center;
		align-items: center;
		margin: 0;
	}

	.telabatistalisa{
		grid-area: telabatistalisa;
	}
	
	.telabatistaestampada{
		grid-area: telabatistaestampada;
	}
	
	.descargarcatalogobatista{
		grid-area: descargarcatalogobatista;
	}
	
	.descargarcatalogopoplin{
		grid-area: descargarcatalogopoplin;
	}
	
	.telapoplinestampada{
		grid-area: telapoplinestampada;
	}
	
	.telapoplinelastizadaestampada{
		grid-area: telapoplinelastizadaestampada;
	}
	
	.camisas{
		grid-area: camisas;
	}

	.contenedor {
		width: 100%;
		height: auto;
		margin: 0px;
	}
	
	.recuadroDeNosotros__img{
		width: 300px;
		height: 175px;
		padding: 8px;
	}
	
	.recuadroDeNosotros__video {
		width: 300px;
		height: 175px;
		padding: 8px;
	}

	.recuadroDeNosotros__parrafo {
		line-height: 30px;
		margin: 20px;
		font-size: $letter-size;
	}

	.recuadroDeNosotros__parrafo--titulo {
		font-size: $subtitle-size;
	}

	.imagenPaletaDeColores{
		width: 200px;
		height: 200px;
		padding: 8px;
	}

	.inlineBlockHijo{
		width: 90%;
	}
	
	.inlineBlockHijo1{
		width: 70%;
	}
	
}


@media screen and (max-width: 480px)
{
	h1 {
		font-size: 2em;
	}

	h2{ 	
		font-size: 1.5em;
	} 

	.detalleCombo{
		font-size: 0.8em;
	}

	a.deAzulABlanco{
		line-height: 10px;
		font-size: 0.8em;
		text-decoration: underline;
	}

	#grilla{
		display:grid;
		grid-template-areas: 
		"telabatistalisa"
		"telabatistaestampada"
		"descargarcatalogobatista"
		"telapoplinestampada" 
		"telapoplinelastizadaestampada"
		"descargarcatalogopoplin"
		"camisas";
		grid-template-columns: 1fr;
		grid-template-rows: repeat(7,1/2fr);
		grid-gap:10px;
		justify-items: center;
		align-items: center;
		margin: 0;
	}

	.telabatistalisa{
		grid-area: telabatistalisa;
	}
	
	.telabatistaestampada{
		grid-area: telabatistaestampada;
	}
	
	.descargarcatalogobatista{
		grid-area: descargarcatalogobatista;
	}
	
	.descargarcatalogopoplin{
		grid-area: descargarcatalogopoplin;
	}
	
	.telapoplinestampada{
		grid-area: telapoplinestampada;
	}
	
	.telapoplinelastizadaestampada{
		grid-area: telapoplinelastizadaestampada;
	}
	
	.camisas{
		grid-area: camisas;
	}

	.contenedor {
		width: 100%;
		height: auto;
		margin: 0px;
	}
	
	.recuadroDeNosotros__img {
		width: 150px;
		height: 100px;
		padding: 0px;
	}
	
	.recuadroDeNosotros__video {
		width: 200px;
		height: 100px;
		padding: 0px;
	}

	.recuadroDeNosotros__parrafo {
		line-height: 20px;
		margin: 10px;
		font-size: 0.8em;
	}

	.recuadroDeNosotros__parrafo--titulo {
		font-size: $letter-size;
	}

	.imagenPaletaDeColores{
		width: 150px;
		height: 150px;
		padding: 5px;
	}

	.inlineBlockHijo{
		width: 99%;
	}
	
	.inlineBlockHijo1{
		width: 70%;
	}
}
